<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        header {
            background-color: rgb(84, 84, 223);
            /* height: 200px; */
            text-align: center;
            padding: 120px
        }

        .nav {
            background-color: rgb(56, 55, 55);
            padding: 16px;
        }

        a {
            color: blanchedalmond;
            margin: 5px;
        }
    </style>
</head>

<body>
    <header>COVID STATISTICS</header>
    <div class="nav">
        <a href="./index">HOME</a>
        <a href="./allCountries">All Countries</a>
        <a href="./myRecords">My Records</a>
    </div>
    <div>
        <h2>
            <%= data.country%>
        </h2>
        <p>total Confirmed : <%= data.totalconfirmed%>
        </p>
        <p>total Deaths : <%= data.totaldeaths%>
        </p>
        <p>total Recovered : <%= data.totalrecovered%>
        </p>
        <p> date : <%= data.date%>
        </p>
        <form action="/recordDetails/<%= data.id%>?_method=delete" method="POST">
            <input type="submit" value="delete">
        </form>
    </div>
</body>

</html>